* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

@font-face {
    font-family: 'veteran typewriter';
    src: url('assets/veteran typewriter.ttf') format('truetype');
}

body {
    font-family: 'veteran typewriter', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    margin: 0; /* Ensure no default margin */
    overflow-y: scroll; /* Enable vertical scrollbar */
}

.container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: relative; /* Ensure position is relative */
}

.content {
    width: 100%; /* Full width */
    max-width: 800px; /* Limit maximum width of content */
    margin: auto; /* Center content horizontally */
    padding: 20px; /* Add padding */
    position: relative; /* Ensure position is relative */
    z-index: 1; /* Ensure content appears above background */
}

.content nav {
    display: flex;
    align-items: center;
}

.content h1 {
    font-family: 'veteran typewriter';
    font-size: 3vw; /* Responsive font size */
    color: whitesmoke;
    text-shadow: 0 0 5px #000;
    margin-bottom: 3vh; /* Responsive margin */
}

.content a {
    font-size: 0.5vw; /* Responsive font size */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    color: #fff;
    margin-bottom: 1vh; /* Responsive margin */
    padding: 2vh 3vh; /* Responsive padding */
    border-radius: 40px;
    transition: 0.3s;
    align-self: center;
    text-decoration: none;
}

.content a:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: #000;
}

.content a:not(:last-child) {
    margin-right: 1vw; /* Responsive margin */
}

.resume-image {
    max-width: 100%; /* Ensure image rescales responsively */
}

.background-clip {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the background image */
    width: 110%; /* Ensure video covers entire viewport */
    height: 110%; /* Ensure video covers entire viewport */
    object-fit: cover; /* Crop the background image to cover the container */
    z-index: -1; /* Send background to back */
}


@media (max-width: 1200px) {
    .content {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}
