---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@/styles/globals.css'
import { Button } from '@/components/ui/button'
import { ModeToggle } from '@/components/ModeToggle';
---
<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<Layout title="ryan's contact info">
	<main>
		<div className="bg-zinc-950 dark:bg-white p-4" />
		<ModeToggle client:load />
		<Button variant="outline">
			<a href="/">Back</a>
		</Button>
		<h2>Welcome to <span class="text-gradient">Ryan's Contact Information</span></h2>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="https://linkedin.com/in/ryantren"
				title="LinkedIn"
				body="connect with me and message me on here."
			/>
			<Card
				href="/email"
				title="Email"
				body="here's my email!"
			/>
		</ul>
	</main>
</Layout>