---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@/styles/globals.css'
import { ModeToggle } from '@/components/ModeToggle';
---
<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<Layout title="ryan's email">
	<main>
		<div className="bg-zinc-950 dark:bg-white p-4" />
		<ModeToggle client:load />
		<h1>Here is <span class="text-gradient">Ryan's Professional Email</span></h1>
        <div>
		    <h3>concepting@protonmail.com</h3>
        </div>
        <p>contact me here for any work related inquiries</p>
	</main>
</Layout>