---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import '@/styles/globals.css'
import '@radix-ui/themes/styles.css';
import { Theme } from '@radix-ui/themes';

import AnimatedPinCard from "@/components/3d-pin";
import { MacbookScrollDemo } from "@/components/macbook-feature";
import { NavBar } from "@/components/NavBar";
import { HeroComponent } from "@/components/hero";
import { SVGMaskEffect } from "@/components/mask";
import { LayoutGridDemo } from "@/components/LayoutGrid";

import { Image } from 'astro:assets';
import { ViewTransitions } from 'astro:transitions';


const cards = [
	{ id: 1, content: "Card 1", className: "class-1", thumbnail: "/astro-logo.png" },
	{ id: 2, content: "Card 2", className: "class-2", thumbnail: "/astro-logo.png" },
	{ id: 3, content: "Card 3", className: "class-3", thumbnail: "/astro-logo.png" },
	{ id: 4, content: "Card 4", className: "class-4", thumbnail: "/astro-logo.png" },
	{ id: 5, content: "Card 5", className: "class-5", thumbnail: "/astro-logo.png" },
];

---
<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>


<Theme>
	<Layout title="ryan's homepage" className="bg-zinc-950 dark:bg-white p-4">
		<main>
			<head className="fixed top-0 left-0 w-full z-[1000] px-8 py-4 backdrop-blur-md bg-white/10 text-white shadow-lg"><NavBar client:idle/></head>
			
			<body className="z-0 h-96 relative  overflow-hidden bg-slate-900 flex flex-col items-center justify-center rounded-lg">
				<div className="z-0 relative bg-clip-text text-transparent text-center bg-gradient-to-b from-neutral-900 to-neutral-700 dark:from-neutral-600 dark:to-white text-5xl md:text-6xl lg:text-7xl font-sans py-1 md:py-3 relative z-20 font-bold tracking-tight">
					<HeroComponent client:load/>
				</div>

				<div>
					<SVGMaskEffect client:visible/>	
					<LayoutGridDemo  cards={cards} client:load/>			
					<MacbookScrollDemo client:load/>
				</div>

				<div class="mt-6">
				<ul role="list" class="link-card-grid">
					<Card
						href="/resume"
						title="Ryan's Resume"
						body="Here's my resume!"
					/>
					<Card
						href="/projects"
						title="Ryan's Projects"
						body="All of my projects over the years"
					/>
				</ul>
				</div>

				<div>
					<ul role="list" class="link-card-grid" >
						<AnimatedPinCard  client:load />
					</ul>
					
				</div>
			</body>
		</main>
	</Layout>
</Theme>

