---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import '@/styles/globals.css'
import '@radix-ui/themes/styles.css';
import { Theme } from '@radix-ui/themes';

import AnimatedPinCard from "@/components/3d-pin";
import { MacbookScrollDemo } from "@/components/macbook-feature";
import { NavBar } from "@/components/NavBar";
import { HeroComponent } from "@/components/hero";
import { SVGMaskEffect } from "@/components/mask";

import { Image } from 'astro:assets';


import { ViewTransitions } from 'astro:transitions';

---
<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>


<Theme>
	<Layout title="ryan's homepage" className="bg-zinc-950 dark:bg-white p-4">
		<main>
			<head className="z-999"><NavBar client:idle/></head>
			
			
			<body className="z-0 h-96 relative w-full overflow-hidden bg-slate-900 flex flex-col items-center justify-center rounded-lg">
				<div transition:name="hero">
					<HeroComponent client:idle={{timeout: 350}}/>
				</div>

				<div>
					<SVGMaskEffect client:visible/>				
					<MacbookScrollDemo client:load/>
				</div>

				// add some photos here

				//replace these cards with something animated
				<ul role="list" class="link-card-grid">
					<Card
						href="/resume"
						title="Ryan's Resume"
						body="Here's my resume!"
					/>
					<Card
						href="/projects"
						title="Ryan's Projects"
						body="All of my projects over the years"
					/>
				</ul>

				<ul role="list" class="link-card-grid" >
					<AnimatedPinCard  client:visible />
				</ul>
			</body>
		</main>
	</Layout>
</Theme>

