---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@/styles/globals.css'
---

<Layout title="ryan's projects">
	<main>
		<h2>Welcome to <span class="text-gradient">Ryan's projects</span></h2>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/RyanTren/mindjourney"
				title="mindjourney"
				body="Web application designed to offer AI-driven mental health support and resources. It leverages modern web development technologies and cloud services to provide users with personalized experiences."
			/>
			<Card
				href="https://github.com/RyanTren/AI-Flashcards-Stripe"
				title="flasher.io"
				body="A flashcard SaaS with Next.js, Clerk, Firebase, OpenAI, and Stripe."
			/>
			<Card
				href="https://github.com/RyanTren/AI-Customer-Support"
				title="AI Customer Support"
				body="an AI-powered customer support chatbot using Next.js and the OpenAI API."
			/>	
			<Card
				href="https://github.com/RyanTren/serenity.com"
				title="Serenity"
				body="A music player web application that allows users to create and manage playlists containing their friends' favorite songs. The application will utilize JavaScript and TypeScript for frontend development, with ReactJS/TS for building the user interface. One of my first ReactJS projects!"
			/>	
			<Card
				href="https://github.com/RyanTren/SWE3313-Automation-Project"
				title="Automation of J's Restaurant"
				body="This project develops a computerized system to help restaurant personnel coordinate their activities and improve their services, and for the management to track business growth and create future plans."
			/>
			<Card
				href="https://github.com/RyanTren/IOS101-Motional-Project"
				title="Motional"
				body="A Swift(iOS) app that seamlessly combines guided mindfulness meditation with easy-to-follow at-home workout routines. Users have the flexibility to tailor their sessions based on duration, difficulty level, and specific focus areas, fostering a comprehensive approach to mental and physical well-being"
			/>			
		</ul>


		<Card
			href="https://github.com/ryantren"
			title="my github"
			body="checkout my other work or give me a follow. ❤️"
		/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
