---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@/styles/globals.css'
import { Button} from '@/components/ui/button';
import { ModeToggle } from '@/components/ModeToggle';
---
<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<Layout title="ryan's projects">
	<main>
		<div className="bg-zinc-950 dark:bg-white p-4" />
		<ModeToggle client:load />
		<Button variant="outline">
			<a href="/">Back</a>
		</Button>
		<h2>Welcome to <span class="text-gradient">Ryan's projects</span></h2>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/RyanTren/mindjourney"
				title="mindjourney"
				body="Web application designed to offer AI-driven mental health support and resources. It leverages modern web development technologies and cloud services to provide users with personalized experiences."
			/>
			<Card
				href="https://github.com/RyanTren/AI-Flashcards-Stripe"
				title="flasher.io"
				body="A flashcard SaaS with Next.js, Clerk, Firebase, OpenAI, and Stripe."
			/>
			<Card
				href="https://github.com/RyanTren/AI-Customer-Support"
				title="AI Customer Support"
				body="an AI-powered customer support chatbot using Next.js and the OpenAI API."
			/>	
			<Card
				href="https://github.com/RyanTren/serenity.com"
				title="Serenity"
				body="A music player web application that allows users to create and manage playlists containing their friends' favorite songs. The application will utilize JavaScript and TypeScript for frontend development, with ReactJS/TS for building the user interface. One of my first ReactJS projects!"
			/>	
			<Card
				href="https://github.com/RyanTren/SWE3313-Automation-Project"
				title="Automation of J's Restaurant"
				body="This project develops a computerized system to help restaurant personnel coordinate their activities and improve their services, and for the management to track business growth and create future plans."
			/>
			<Card
				href="https://github.com/RyanTren/IOS101-Motional-Project"
				title="Motional"
				body="A Swift(iOS) app that seamlessly combines guided mindfulness meditation with easy-to-follow at-home workout routines. Users have the flexibility to tailor their sessions based on duration, difficulty level, and specific focus areas, fostering a comprehensive approach to mental and physical well-being"
			/>			
		</ul>


		<Card
			href="https://github.com/ryantren"
			title="my github"
			body="checkout my other work or give me a follow. ❤️"
		/>
	</main>
</Layout>

