* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

@font-face {
    font-family: 'veteran typewriter';
    src: url('assets/veteran typewriter.ttf') format('truetype');
}


/* Hover Animation */
.button{
    background-color: transparent;
    border: none;
    --border-right: 6px;
    --animation-color: rgb(88, 215, 150);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 3.5em;
    position: relative;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.583);
}

.hover-text {
    background-color: transparent;
    border: none;
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 0.05em var(--animation-color); /* Adjust stroke */
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 1em; /* Use em for font size */
}


.button:hover .hover-text{
    background-color: transparent;
    border: none;
    width: 100%;
    filter: drop-shadow(0 0 5px var(--animation-color));
    transition: 1.5s;
}

.portrait{
    width: 25%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

body {
    font-family: 'veteran typewriter', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

img {
    padding-left: 1px;
    height: 20px;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: rgba(red, green, blue, 1);
    color: white;
}

.container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column; /* Changed from 'row' to 'column' */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 20px; /* Add padding */
    position: relative; /* Ensure position is relative */
    overflow: hidden; /* Hide overflowing content */
}

.content {
    width: 100%; /* Full width */
    max-width: 1000px; /* Limit maximum width of content */
    max-height: 2000px;
    margin-top: 20px; /* Added margin at the top */
    overflow-y: auto; /* Allow vertical scrolling */
}

.content h1 {
    font-family: 'veteran typewriter';
    font-size: 3vw; /* Responsive font size */
    color: whitesmoke;
    text-shadow: 0 0 5px #000;
    margin-bottom: 3vh; /* Responsive margin */
}

.content a {
    font-family: 'veteran typewriter', sans-serif;
    font-size: 1vw; /* Responsive font size */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    background-color: white;
    color: black;
    margin-bottom: 1vh; /* Responsive margin */
    padding: 20px; /* Responsive padding */
    border-radius: 40px;
    transition: 0.3s;
    align-self: center;
    text-decoration: none;
    flex-direction: column;
}

.content a:hover {
    transform: scale(1.15); /* Corrected property */
    background-color: #58d796;
    box-shadow: 1px 1px 0.25em #58d796;
    color: #000;
}

.content a:not(:last-child) {
    margin-right: 1vw; /* Responsive margin */
}

.background-clip {
    position: fixed; /* Changed from 'absolute' to 'fixed' */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.about-me-section{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;

    padding: 20px;
    margin: 1em;

    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 5px #000;
    width: 95%;
    
}

.socials{
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}

@media (max-width: 1200px) {
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}
