* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

@font-face {
    font-family: 'veteran typewriter';
    src: url('assets/veteran typewriter.ttf') format('truetype');
}

body {
    font-family: 'veteran typewriter', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    /* margin: 0; Ensure no default margin */
}

.content {
    width: 100%; /* Full width */
    max-width: 800px; /* Limit maximum width of content */
}

.container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 20px; /* Add padding */
    position: relative; /* Ensure position is relative */
    overflow: hidden; /* Hide overflowing content */
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%; /* Ensure video covers entire container */
    height: 100%; /* Ensure video covers entire container */
    object-fit: cover; /* Ensure video covers entire container */
}

@media (max-width: 1200px) {
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}
