* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

@font-face {
    font-family: 'veteran typewriter';
    src: url('assets/veteran typewriter.ttf') format('truetype');
}

body {
    font-family: 'veteran typewriter', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    margin: 0; /* Ensure no default margin */
    overflow-y: scroll; /* Enable vertical scrollbar */
}

.container {
    width: 100vw; 
    height: 100vh; 
    position: relative; 

    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    width: 100%; /* Full width */
    max-width: 800px; /* Limit maximum width of content */
    margin: auto; /* Center content horizontally */
    padding: 20px; /* Add padding */
    position: relative; /* Ensure position is relative */
    z-index: 1; /* Ensure content appears above background */
}

.resume-image {
    display: block;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    position: center;

    margin-top: 20%;

    border: none;
    box-shadow: 1px 1px 1em 1px black;
    border-radius: 1vw;

    height: 75vh;
    width: 100%;
}

.background-clip {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the background image */
    width: 115%; /* Ensure video covers entire viewport */
    height: 115%; /* Ensure video covers entire viewport */
    object-fit: cover; /* Crop the background image to cover the container */
    z-index: -1; /* Send background to back */
}

@media (max-width: 1200px) {
    .content {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}
